vendor/apex/com.google.pixel.camera.hal.apex
modem/images/g5123b-116954-230524-B-10194842/modem.bin
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/Photos/Photos.apk
product/app/YouTube/YouTube.apk
product/priv-app/GoogleCamera/GoogleCamera.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
