vendor/apex/com.google.pixel.camera.hal.apex
modem/images/g5123b-107485-221101-B-9242015/modem.bin
product/app/YouTube/YouTube.apk
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/Photos/Photos.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
product/priv-app/GoogleCamera/GoogleCamera.apk
product/priv-app/Velvet/Velvet.apk
